<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html">
<head th:replace="fragments/header::head">
    <title >View Grow</title>
</head>
<body>

<link th:rel="stylesheet" th:href="@{/webjars/lightbox2/src/css/lightbox.css}"/>

<div th:replace="fragments/header :: header">&nbsp;</div>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">

            <div th:if="${param.success}">
                <div class="alert alert-info">
                    Grow successfully created!
                </div>
            </div>
            <div th:if="${param.success_edit}">
                <div class="alert alert-info">
                    Grow successfully edited!
                </div>
            </div>

            <div th:if="${param.plantSuccess}">
                <div class="alert alert-info">Successfully added plant!</div>
            </div>

            <div th:if="${param.lightSuccess}">
                <div class="alert alert-info">Successfully added light!</div>
            </div>

            <div th:if="${param.pic_success}">
                <div class="alert alert-info">Successfully added pic!</div>
            </div>

            <div th:if="${param.note_success}">
                <div class="alert alert-info">Successfully added note!</div>
            </div>




            <div th:if="${param.flowering_success}">
                <div class="alert alert-info">Flowering!!</div>
            </div>

            <div th:if="${param.harvesting_success}">
                <div class="alert alert-info">Harvested!!</div>
            </div>

            <div th:if="${param.watering_success}">
                <div class="alert alert-info">Watered!!</div>
            </div>

            <div th:if="${param.already_flowering}">
                <div class="alert alert-info">
                    Grow is already flowering
                </div>
            </div>

            <div th:if="${param.already_harvested}">
                <div class="alert alert-info">
                    Grow is already harvested
                </div>
            </div>
            <!--/*@thymesVar id="grow" type="improbableotter.sideprojects.pufftime.grow.GrowDto"*/-->
            <h1>Grow: "<span th:text="${grow.name}"></span>"</h1>
                <div class="border-dark row">
                    <label for="name" class="control-label ">Name</label><br/>
                    <span id="name" class="form-control" th:text="${grow.name}"/>
                </div>

                <div class="border-dark row" >
                    <label for="description" class="control-label">Description</label>
                    <span id="description" class="form-control" th:text="${grow.description}" />
                </div>

            <div class="border-dark row" >
                <label for="startDate" class="control-label">Start Date</label>
                <span id="startDate" class="form-control" th:text="${#dates.format(grow.startDate, 'yyyy-MM-dd')}"></span>
            </div>

            <div class="border-dark row" >
                <label for="flowerDate" class="control-label">Flower Date</label>
                <span id="flowerDate" class="form-control" th:text="${#dates.format(grow.flowerDate, 'yyyy-MM-dd')}"></span>
            </div>

            <div class="border-dark row" >
                <label for="harvestDate" class="control-label">Harvest Date</label>
                <span id="harvestDate" class="form-control" th:text="${#dates.format(grow.harvestDate, 'yyyy-MM-dd')}"></span>
            </div>

            <br/>
            <a th:unless="${#lists.isEmpty(grow.allGrowPics)}" th:href="@{${grow.mostRecentPicture?.filePath}}" data-lightbox="grow-image">
                <img th:unless="${#lists.isEmpty(grow.allGrowPics)}"
                     th:src="@{${grow.mostRecentPicture?.smallFilePath}}" style="widows: 160px; height: 160px">
            </a>
            <br/>

            <br>
            <div class="row">
                <button type="button" class="btn btn-success">
                    <a th:href="@{/grows/{id}/edit(id=${grow.id})}" class="btn-success">Edit</a>
                </button>
                &nbsp;
                <button type="button" class="btn btn-success" th:if="${grow.flowerDate eq null}">
                    <a th:href="@{/grows/{id}/flower(id=${grow.id})}" class="btn-success"
                        title="Use 'Edit' for a different day">Switch to flower</a>
                </button>
                &nbsp;
                <button type="button" class="btn btn-success"
                        th:if="${grow.flowerDate ne null and grow.harvestDate eq null}">
                    <a th:href="@{/grows/{id}/edit(id=${grow.id})}" class="btn-success">Harvest</a>
                </button>

            </div>
            <br>
            <div class="row">

                <button type="button" class="btn btn-info">
                    <a th:href="@{/grows/{id}/lights/add(id=${grow.id})}" class="btn btn-info">Add Light</a>
                </button>
                &nbsp;
                <button type="button" class="btn btn-info">
                    <a th:href="@{/grows/{id}/plants/add(id=${grow.id})}" class="btn btn-info">Add Plant</a>
                </button>
                &nbsp;
                <button type="button" class="btn btn-info">
                    <a data-toggle="modal" data-target="#picUploadModal"
                                                              data-plant-id="0" href="" class="btn btn-info">Add pic</a>
                </button>
                &nbsp;
                <button type="button" class="btn btn-info">
                    <a data-toggle="modal"
                       data-target="#noteUploadModal"
                      data-note-plant-id="0" href="" class="btn btn-info">Add note</a>
                </button>
                &nbsp;
            </div>
            <br/>
            <div class="row">
                <button type="button" class="btn btn-info">
                    <a th:href="@{/grows/{growId}/water(growId=${grow.id})}" class="btn btn-info">Water!</a>
                </button>
                &nbsp;
                <button type="button" class="btn btn-info">
                    <a th:href="@{/grows/{growId}/watering_history(growId=${grow.id})}" class="btn btn-info">Watering history</a>
                </button>

            </div>


            <!--/*@thymesVar id="note" type="improbableotter.sideprojects.pufftime.note.Note"*/-->
            <br/>
            <div class="row" th:if="${note}">
                <div class="border-dark border ">
                    &nbsp;
                   <span th:text="${note.note}" class="" ></span>
                    &nbsp;
                </div>
            </div>

            <br/>
            <table class="table table-bordered tableMain" th:unless="${#lists.isEmpty(growLights)}">
                <thead>
                <tr>
                    <th>Light</th>
                    <th>Brand</th>
                    <th>Temp Color</th>
                    <th>Power</th>
                </tr>
                </thead>
                <tbody>
                <!--/*@thymesVar id="growLight" type="java.util.List<GrowLight>"*/-->
                <tr th:each="growLight :${growLights}">
                    <td th:text="${growLight.light.name}"></td>
                    <td th:text="${growLight.light.brand}"></td>
                    <td th:text="${growLight.light.temperatureColor}"></td>
                    <td th:text="${growLight.light.power}"></td>
                </tr>
                </tbody>
            </table>



            <br/>
            <table class="table table-bordered tableMain" th:unless="${#lists.isEmpty(plants)}">
                <thead>
                <tr>
                    <th>Strain</th>
                    <th>Most recent pic</th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
<!--                TODO Paginate this-->
                    <!--/*@thymesVar id="plant" type="improbableotter.sideprojects.pufftime.plant.Plant"*/-->
                    <tr th:each="plant : ${plants}">
                    <!--/*@thymesVar id="strain" type="improbableotter.sideprojects.pufftime.strain.Strain"*/-->
                    <td th:text="${plant.strain.name}"></td>

                    <td>
                        <a th:unless="${#lists.isEmpty(plant.pictures)}"
                           th:href="@{${plant?.mostRecentPicture?.filePath}}" data-lightbox="plant-image">
                            <img th:unless="${#lists.isEmpty(plant.pictures)}"
                                 th:src="@{${plant?.mostRecentPicture?.smallFilePath}}" style="widows: 80px; height: 80px">
                        </a>
                    </td>
                    <td><a th:href="@{/grows/{growId}/water/{plantId}(growId=${grow.id}, plantId=${plant.id})}">Water Plant</a></td>
                    <td><a data-toggle="modal" data-target="#picUploadModal" th:data-plant-id="${plant.id}" href="" >Add pic</a></td>
                    <td><a th:href="@{/grows/{id}/plants/{plantId}/pics(id=${grow.id}, plantId=${plant.id})}">Pics</a></td>
                    <td><a data-toggle="modal" data-target="#noteUploadModal" th:data-note-plant-id="${plant.id}" href="" >Add note</a></td>
                    <td><a th:href="@{/plants/{plantId}(id=${grow.id}, plantId=${plant.id})}">Details</a></td>
                    <td><a th:href="@{/grows/{id}/plants/{plantId}/delete(id=${grow.id}, plantId=${plant.id})}" onclick="return confirm('Really delete?');">Delete</a></td>

                </tr>
                </tbody>
            </table>

            <div class="row">
                <button type="button" class="btn btn-primary" th:href="@{/grows/{id}/edit(id=${grow.id})}" value="Edit">Edit</button>&nbsp;
                <button type="button"  class="btn btn-primary" value="Add Plant"><a class="btn btn-primary" th:href="@{/grows/{id}/plants/add(id=${grow.id})}">Add Plant</a></button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade in" id="picUploadModal" tabindex="-1"  role="form">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="#" th:action="@{/grows/{growId}/pics(growId=${grow.id})}"
                  method="post" enctype="multipart/form-data">
                <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span></button>
                <h5 class="modal-title">Upload Pic</h5>
            </div>
            <div class="modal-body">
                    <div>
                        <select id="plantId" name="plantId">
                            <option value="0">Grow Pic</option>
                            <option th:each="plant_sel : ${ plants}" th:value="${plant_sel.id}" th:text="${plant_sel.displayName}"></option>
                        </select>
                    </div>



                    <div class="row border-dark">
                        <label for="file" class="control-label">File</label>
                        <input type="file" id="file" name="file" class="form-control-file"/>
                    </div>

                <div class="form-group row">
                    <label for="picDate" title="Defaults to now">Pic date</label>
                    <div class="input-group date" data-provider="datepicker">
                        <input id="picDate" name="picDate" class="form-control small-width" />
                        <div class="input-group-addon">
                            <span class="glyphicon glyphicon-th"></span>
                        </div>
                    </div>
                </div>


                <div class="row border-dark">
                            <label for="notes" class="control-label">Notes</label>
                            <textarea id="notes" name="notes" class="form-control" ></textarea>
                    </div>
            </div>
            <div class="modal-footer">
                <input type="submit" class="btn btn-outline-primary pull-left" value="Upload"/>
                <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Close</button>
            </div>
        </form>
        </div>
    </div>
</div>

<div class="modal fade in" id="noteUploadModal" tabindex="-1"  role="form">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="#" th:action="@{/grows/{growId}/notes(growId=${grow.id})}"
                  method="post" >
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span></button>
                    <h5 class="modal-title">Save Note</h5>
                </div>
                <div class="modal-body">
                    <div>
                        <select id="notePlantId" name="notePlantId">
                            <option value="0">Grow Note</option>
                            <option th:each="plant_sel : ${ plants}"
                                    th:value="${plant_sel.id}"
                                    th:text="${plant_sel.displayName}"
                                    ></option>
                        </select>
                    </div>
                    <div class="row border-dark">
                        <label for="notes" class="control-label">Notes</label>
                        <textarea id="notes" name="notes" class="form-control" ></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="submit" class="btn btn-outline-primary pull-left" value="Save"/>
                    <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    $('.input-group.date').datepicker({
        autoclose: true,
        todayHighlight: true,
        format: 'yyyy-mm-dd'
    });

    $('#picUploadModal').on('show.bs.modal', function(e) {
        let plantId= $(e.relatedTarget).data('plant-id');
        $('#plantId').val(plantId);
    });

    $('#noteUploadModal').on('show.bs.modal', function(e) {
        let plantId= $(e.relatedTarget).data('note-plant-id');
        $('#notePlantId').val(plantId);
    });

</script>

<script th:src="@{/webjars/lightbox2/src/js/lightbox.js}"></script>
<div th:replace="fragments/footer::footer"></div>
</body>
</html>