<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/header::head">
    <title >Add Plant to Grow</title>
</head>
<body>
<div th:replace="fragments/header :: header">&nbsp;</div>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">

            <!--/*@thymesVar id="grow" type="improbableotter.sideprojects.pufftime.grow.Grow"*/-->
            <!--/*@thymesVar id="strain" type="improbableotter.sideprojects.pufftime.strain.Strain"*/-->
            <!--/*@thymesVar id="plant" type="improbableotter.sideprojects.pufftime.plant.PlantDto"*/-->
            <div th:if="${param.success}">
                <div class="alert alert-info">
             <span th:text="${strain.name}"></span> plant successfully added to <span th:text="${grow.name}"></span>
                </div>
            </div>

            <h1>Add plant to <span th:text="${grow.name}"></span> </h1>
            <form th:action="@{/grows/{growId}/plants/add(growId=${grow.id})}" th:object="${plant}" method="post">
                <input type="hidden" id="userId" th:field="*{userId}" >
                <input type="hidden" id="growId" th:field="*{growId}" >

                <p class="error-message"
                   th:if="${#fields.hasGlobalErrors()}"
                   th:each="error : ${#fields.errors('global')}"
                   th:text="${error}">Validation error</p>

                <div class="form-group row"
                     th:classappend="${#fields.hasErrors('numPlants')}? 'has-error':''">
                    <label for="numPlants" class="control-label">Number of this kind of plant:</label>

                    <input type="number" class="form-control" th:field="*{numPlants}"/>
                    <p class="error-message"
                       th:each="error: ${#fields.errors('numPlants')}"
                       th:text="${error}">Validation error</p>
                </div>

                <div class="form-group row"

                     th:classappend="${#fields.hasErrors('strainId')}? 'has-error':''">
                    <label for="strainId" class="control-label">Strain</label>

                    <select id="strainId" class="form-control" th:field="*{strainId}">
                        <th:block th:each="strain: ${strains}">
                            <option th:value="${strain.id}" th:text="${strain.name}"></option>
                        </th:block>
                    </select>
                    <p class="error-message"
                       th:each="error: ${#fields.errors('strainId')}"
                       th:text="${error}">Validation error</p>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-success">Create</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    $('.input-group.date').datepicker({
        autoclose: true,
        todayHighlight: true,
        format: 'yyyy-mm-dd'
    });
</script>

<div th:replace="fragments/footer::footer"></div>
</body>
</html>