<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header::head">
    <title>View Pests</title>
</head>
<body>
<div th:replace="fragments/header :: header">&nbsp;</div>
<div class="container">
    <div class="row">
        <table class="table table-bordered tableMain">
            <thead>
            <tr>
                <th>Pest</th>
                <th>Added</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <!--/*@thymesVar id="strain" type="improbableotter.sideprojects.pufftime.pesticide.Pesticide"*/-->
            <!--/*@thymesVar id="strains" type="java.util.List<Strain>"*/-->
            <tr th:each="pest : ${pest}">
                <td th:text="${pest.name}"></td>
                <td th:text="${#dates.format(pest.createDate, 'yyyy-MM-dd')}"></td>
                <td ><a th:href="@{/pest/{id}(id=${strain.id})}">View</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="row">
        <a type="button" class="btn btn-outline-success" th:href="@{/pest/add}" >Add Pest</a>
    </div>
</div>

<div th:replace="fragments/footer::footer"></div>
</body>
</html>