<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
>
<head th:replace="fragments/header::head">
    <title>Add Pesticide</title>
</head>
<body>
<div th:replace="fragments/header :: header">&nbsp;</div>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">

            <div th:if="${param.success}">
                <div class="alert alert-info">
                    Pesticide successfully added! <span th:text="${pesticide.name}"></span>
                </div>
            </div>

            <div th:if="${param.edit_success}">
                <div class="alert alert-info">
                    Pesticide successfully edited!
                </div>
            </div>

            <h1>View Pesticide</h1>
            <!--/*@thymesVar id="pesticide" type="improbableotter.sideprojects.pufftime.pesticide.Pesticide"*/-->

            <p class="error-message"
               th:if="${#fields.hasGlobalErrors()}"
               th:each="error : ${#fields.errors('global')}"
               th:text="${error}">Validation error</p>

            <div class="form-group row border border-dark">
                <div class="col-2 bg-light">
                    <span class=" text-dark">Name: </span>
                </div>
                <div class="col-8 ">
                    <span th:text="${pesticide.name}"></span>
                </div>
            </div>

            <div class="form-group row border border-dark">
                <div class="col-2 bg-light">
                    <span class="control-label">Brand: </span>
                </div>
                <div class="col-8 ">
                    <span th:text="${pesticide.brand}"></span>
                </div>
            </div>

            <div class="form-group row border border-dark">

                <div class="col-2 bg-light">
                    <label class="control-label">Purchase Date:</label>
                </div>
                <div class="col-8 ">
                    <span th:text="${#dates.format(pesticide.purchaseDate, 'yyyy-MM-dd')}"
                          th:unless="${pesticide.purchaseDate eq null}"></span>
                    <span th:text="Not purchased or...unknown" th:if="${pesticide.purchaseDate eq null}"></span>
                </div>
            </div>

            <div class="form-group row border border-dark">
                <div class="col-2 bg-light">
                    <span class="control-label">Notes: </span><br/>
                </div>
                <div class="col-8">
                    <span th:text="${pesticide.notes}"></span>
                </div>
            </div>

            <div class="form-group row">
                <span><a th:href="@{/pesticides/{id}/edit(id=${pesticide.id})}">Edit</a></span>
            </div>
            </form>
        </div>
    </div>
</div>

<div th:replace="fragments/footer::footer"></div>
</body>
</html>