<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header::head">
    <title>View Plants</title>
</head>
<body>
<div class="container">
    <div class="row">
        <table class="table table-bordered tableMain">
            <thead>
            <tr>
                <th>Strain</th>
                <th>Created</th>
                <th>By</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <!--/*@thymesVar id="strain" type="improbableotter.sideprojects.pufftime.strain.Strain"*/-->
            <!--/*@thymesVar id="strains" type="java.util.List<Strain>"*/-->
            <tr th:each="strain : ${strains}">
                <td th:text="${strain.name}"></td>
                <td th:text="${#dates.format(strain.createDate, 'yyyy-MM-dd')}"></td>
                <td th:text="${strain.createdBy.username}"></td>
                <td ><a th:href="@{/strains/{id}(id=${strain.id})}">View</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="row">
       <a type="button" class="btn btn-outline-success" th:href="@{/strains/add}" >Add Strain</a>
    </div>
</div>

<div th:replace="fragments/footer::footer"></div>
</body>
</html>