<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header::head">
    <title>Welcome!</title>
</head>
<body>
<div th:replace="fragments/header :: header">&nbsp;</div>
<div class="container">
    <div th:if="${param.success}">
        <div class="alert alert-info">
            You've successfully registered!
           <br> <a href="@{/user/{id}/">Your details </a>!
            <br> <a href="@{/grows}/">Grows</a>!
        </div>
    </div>
    <h1>
        Welcome, Grower!
    </h1>
    <h2>This is a toy app to learn kotlin and track growing magical plants</h2>
</div>
<div th:replace="fragments/footer::footer"></div>
</body>
</html>