<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link rel="stylesheet" type="text/css" th:href="@{/css/sakura-ink.css}"/>

    <title>Welcome to the Grower's Club</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h1> Welcome to PuffTime!</h1>
            <h2>Track your grows and rate your strains :)</h2>
            <br>
            <p>Project to sharpen up my kotlin while tracking my grows.</p>
            <br>
            <a th:href="@{/registration}">Register?</a></div>
        <br>
        <a th:href="@{/login}">Login!</a></div>
</div>
</div>

</body>
</html>