<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/html">
<head th:replace="fragments/header::head">
    <title >View Grow</title>
</head>
<body>
<script th:src="@{/webjars/chart.js/dist/chart.js}" type="text/javascript"></script>
<div th:replace="fragments/header :: header">&nbsp;</div>
<div class="container">
    <canvas id="myChart" width="400" height="250"></canvas>
    <script th:inline="javascript">
        var ctx = document.getElementById('myChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: /*[[${ day_labels }]]*/['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
                datasets: [{
                    label: 'Water in Liters',
                    data: /*[[${day_values}]]*/[12, 19, 3, 5, 2, 3],
                    backgroundColor: /*[[${day_colors}]]*/[ 'rgba(54, 162, 235, 0.2)', ],
                    borderColor: /*[[${day_borders}]]*/[ 'rgba(54, 162, 235, 1)', ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    </script>

</div>
</body>
</html>
